main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#clickerContainer{
    flex-direction: row;
    padding: 50px; 
    width: 20%;
    
}
#bugElim{
    background-image: url("./images/bug.png");
    min-height: 300px;
    min-width: 300px;
    background-size: cover;
    grid-row: auto;
    padding: 30px;
}

#bugElim:hover{
    background-color: rgb(239, 102, 102);
    cursor: pointer;
}

#lizardElim{
    background-image: url("./images/lizard.png");
    min-height: 300px;
    min-width: 300px;
    background-size: cover;
    grid-row: auto;
    padding: 30px;
}

#lizardElim:hover{
    background-color: rgb(239, 102, 102);
    cursor: pointer;
}
#hogElim{
    background-image: url("./images/hog.png");
    min-height: 300px;
    min-width: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 30px;
}

#hogElim:hover{
    background-color: rgb(239, 102, 102);
    cursor: pointer;
}

#kangarooElim{
    background-image: url("./images/kangaroo.png");
    min-height: 300px;
    min-width: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 30px;
}

#kangarooElim:hover{
    background-color: rgb(239, 102, 102);
    cursor: pointer;
}

#bullElim{
    background-image: url("./images/bull.png");
    min-height: 300px;
    min-width: 300px;
    background-size: cover;
    padding: 30px;
}

#bullElim:hover{
    background-color: rgb(239, 102, 102);
    cursor: pointer;
}

#polarBearElim{
    background-image: url("./images/polarBear.png");
    min-height: 300px;
    min-width: 300px;
    background-size: cover;
    padding: 30px;
}

#polarBearElim:hover{
    background-color: rgb(239, 102, 102);
    cursor: pointer;
}

.labelRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.label{
    font-size: 24pt;
    font-weight: 700;
}

.amount{
    font-size: 24pt;
}


.header-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 20px auto;
}

.header-link{
    font-size: 28pt;
    text-decoration: none;
    padding: 20px 40px;
    background-color: rgb(108, 7, 7);
    color: white;
    border-radius: 10px;
    min-width: 200px;
    text-align: center;
    box-shadow: 10px 10px 10px rgb(48, 0, 0);
    
}

.header-link:hover{
    padding: 22px 42px;
    background-color: rgb(204, 0, 0);

}

body{
    margin: 0px;
    font-size: 24pt;
    font-family:'Courier New', Courier, monospace;
}

.header-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 20px auto;
}

.grid{
    width: 100%;
    display: grid;
    margin: 40px auto;
    grid-template-columns: auto;
    grid-template-rows: 100px 1fr 1fr;
}

.grid-header{
    grid-column: 1 / 4;
    background-color: black;
    color: white;
    border: 3px solid black;
    padding: 20px 0px;
    text-align: center;
}

.column-header{
    padding: 20px 0px;
    border: 3px solid black;
    color: white;
    background-color: rgb(130, 20, 0);
    align-content: center;
    text-align: center;
}

.grid-cell{
    padding: 5px 10px;
    border: 3px solid black;
    text-align: left;
    align-content: center;
}

.gray{
    background-color: rgb(207, 207, 207);
}