#gameButton{
    background-image: url("./images/scraps.png");
    height: 300px;
    width: 300px;
    background-size: cover;
}

.header-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 20px auto;
}

.header-link{
    font-size: 28pt;
    text-decoration: none;
    padding: 20px 40px;
    background-color: rgb(108, 7, 7);
    color: white;
    border-radius: 10px;
    min-width: 200px;
    text-align: center;
    box-shadow: 10px 10px 10px rgb(48, 0, 0);
    
}

.header-link:hover{
    padding: 22px 42px;
    background-color: rgb(204, 0, 0);

}

#clickerContainer{
    flex-direction: row;
    padding: 50px; 
    width: 20%;
    
}
#daggerBuy{
    background-image: url("./images/daggerBuy.png");
    min-height: 300px;
    min-width: 300px;
    background-size: cover;
    grid-row: auto;
    padding: 30px;
}

#daggerBuy:hover{
    background-color: rgb(239, 102, 102);
    cursor: pointer;
}

#swordBuy{
    background-image: url("./images/swordBuy.png");
    min-height: 300px;
    min-width: 300px;
    background-size: cover;
    grid-row: auto;
    padding: 30px;
}

#swordBuy:hover{
    background-color: rgb(239, 102, 102);
    cursor: pointer;
}
#musketBuy{
    background-image: url("./images/musketBuy.png");
    min-height: 300px;
    min-width: 300px;
    background-size: cover;
    padding: 30px;
}

#musketBuy:hover{
    background-color: rgb(239, 102, 102);
    cursor: pointer;
}

#laserBuy{
    background-image: url("./images/laserBuy.png");
    min-height: 300px;
    min-width: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 30px;
}

#laserBuy:hover{
    background-color: rgb(239, 102, 102);
    cursor: pointer;
}

#cannonBuy{
    background-image: url("./images/cannonBuy.png");
    min-height: 300px;
    min-width: 300px;
    background-size: cover;
    padding: 30px;
}

#cannonBuy:hover{
    background-color: rgb(239, 102, 102);
    cursor: pointer;
}

#lightsaberBuy{
    background-image: url("./images/lightsaberBuy.png");
    min-height: 300px;
    min-width: 300px;
    background-size: cover;
    padding: 30px;
}

#lightsaberBuy:hover{
    background-color: rgb(239, 102, 102);
    cursor: pointer;
}

.labelRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.label{
    font-size: 24pt;
    font-weight: 700;
}

.amount{
    font-size: 24pt;
}


.header-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 20px auto;
}

.header-link{
    font-size: 28pt;
    text-decoration: none;
    padding: 20px 40px;
    background-color: rgb(108, 7, 7);
    color: white;
    border-radius: 10px;
    min-width: 200px;
    text-align: center;
    box-shadow: 10px 10px 10px rgb(48, 0, 0);
    
}

.header-link:hover{
    padding: 22px 42px;
    background-color: rgb(204, 0, 0);

}

body{
    margin: 0px;
    font-size: 24pt;
    font-family:'Courier New', Courier, monospace;
}

.header-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 20px auto;
}

.grid{
    width: 100%;
    display: grid;
    margin: 40px auto;
    grid-template-columns: auto;
    grid-template-rows: 100px 1fr 1fr;
}

.grid-header{
    grid-column: 1 / 4;
    background-color: black;
    color: white;
    border: 3px solid black;
    padding: 20px 0px;
    text-align: center;
}

.column-header{
    padding: 20px 0px;
    border: 3px solid black;
    color: white;
    background-color: rgb(130, 20, 0);
    align-content: center;
    text-align: center;
}

.grid-cell{
    padding: 5px 10px;
    border: 3px solid black;
    text-align: left;
    align-content: center;
}

.gray{
    background-color: rgb(207, 207, 207);
}
.secret-row {
  display: flex;
  justify-content: space-between; 
  width: 100%;
  box-sizing: border-box;         
  padding: 0 10px;               
}

#secretGood, #secretBad {
  width: 15px;         
  height: 15px;
  font-size: 10px;   
  padding: 0;         
  cursor: pointer;    
  border: none;       
  background: transparent; 
}

#secretGood:hover, #secretBad:hover{
    border-style: dotted;
    border-color: black;
    border-radius: 5px;
    background-color: gray;
}